.nameText {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.mainDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.videoCardDiv {
  display: flex;
  aspect-ratio: 9 / 16;
  width: 30%;
  padding-inline: 8px;
  padding-bottom: 16px;
}

.userDiv {
  display: flex;
  align-items: center;
  position: relative;
}

.avatarDiv {
  display: flex;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border: 1px solid ligthblue;
  background-color: lightblue;
  border-radius: 25px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 105%;
}

.dateText {
  font-size: 14px;
  margin-top: 4px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: white;
  margin-left: 35px;
}

.loaderSpinnerWrapper {
  display: flex;
  justify-content: center;
}

.loaderSpinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 250px;
  height: 250px;
  margin-top: 75px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
