.singleComment {
  display: flex;
  margin: 10px;
  width: 98%;
  max-height: 125px;
  gap: 6px;
}

.divAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 5%;
}

.divUserComment {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  width: 900px;
}

.usernameDate {
  display: flex;
  gap: 15px;
}

.textUsername {
  font-weight: bold;
  font-size: 12px;
}

.textUsername:hover {
  cursor: pointer;
}

.textDate {
  font-size: 12px;
}

.textForComment {
  display: inline-block;
  flex: 1;
  font-size: 14px;
}

.textIcons {
  margin-top: 6px;
  display: flex;
  font-size: 14px;
  gap: 10px;
}
